name: Deploy NestJS (PM2)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    # faqat commit message ichida "deploy service" bo'lsa ishga tushadi
    if: contains(github.event.head_commit.message, 'deploy service')
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: deploy
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            /home/deploy/deploy.sh
